@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);
.navbar {
    background-color: rgb(62, 80, 80);
}
body {
    font-family: poppins, serif;
    background-color: rgba(62, 80, 80, 0.479);
    font-size: 17px;
}
.navbar-nav {
    font-size: 18px;
}
.navbar-nav .nav-link.active {
    color: azure;
}
.nav-link {
    color: rgba(240, 255, 255, 0.438);
}
.navbar-brand > img {
    width: 40px;
}
.navbar-toggler {
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.692);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(236, 85, 64, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.row {
    flex-wrap: nowrap;
    margin-top: 2%;
}
.card {
    margin: 0 10%;
    background: linear-gradient(0deg, #476161 0%, #fff 100%);
}
.card-body {
}
.card-body > a {
    color: rgba(236, 85, 64, 1);
    font-size: 100%;
    font-weight: 700;
}
.panelka {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-size: 23px;
}
.card-text {
    line-height: 21px;
}
.card-link {
    text-decoration: none;
    padding: 2px 7px;
    white-space: nowrap;
}
.card-link:hover {
    color: black;
}
.card-link:active {
    background-color: rgb(45, 59, 59);
    border-style: solid;
    border-color: rgba(236, 85, 64, 1);
    border-width: 2px;
    padding: 0 5px;
}
.card > img {
}

.col-6 {
    width: 36%;
}
.col-5 {
    width: 37%;
}
.col > .card > .list-group {
    margin-top: 20%;
}
.list-group {
    --bs-list-group-bg: none;
    --bs-list-group-border-color: none;
}
.carousel-item {
    align-items: center;
}
.home-page-text {
    font-size: 19px;
    text-shadow: -1px -1px 3px black, 1px -1px 3px black, -1px 1px 3px black,
        1px 1px 3px black;
}
.asdasd {
    font-size: 15px;
}
.brand-anim {
    animation: myAnim 4s linear 0s infinite normal forwards;
}
@keyframes myAnim {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 1020px) {
 .card {
    margin: 0 0;
 }
 .row {
    flex-wrap: wrap;
 }
 .col, .col-6, .col-5  {
    margin: 0 20%;
 }
 .col-6, .col-5 {
   width: 60%;
}
}
@media (max-width: 730px) {
    .card {
       margin: 0 0;
    }
    .row {
       flex-wrap: wrap;
       flex-direction: column;
    }
    .col, .col-6, .col-5  {
        margin: 0 0;
   }
   .col-6, .col-5 {
    width: 100%;}
   }
